/* Start with overall styling; remember that order matters! */
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

html {
  background-color: rgb(255, 247, 243);
  background-image: url(https://i.imgur.com/2A0A65A.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  /* General attributes */
  font-family: 'Kdam Thmor Pro', sans-serif;
  text-align: center;
}

body, main {
  /* Placement attributes */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* General attributes */
  /* font-family: 'Kdam Thmor Pro', sans-serif;
  text-align: center; */
}

header {
  /* ? */
}

#interface {
  /* Placement attributes */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* General attributes */
  border-top: solid 6px rgba(40, 40, 40, 1);
  border-left: solid 6px rgba(40, 40, 40, 1);
  border-right: solid 6px rgba(0, 0, 0, 1);
  border-bottom: solid 6px rgba(0, 0, 0, 1);
  border-radius: 5px;
  width: 380px;
  max-width: 450px;
  background-color: gray;
  background-image: linear-gradient(135deg, rgba(190, 190, 190, 1), rgb(128, 128, 128));
  padding: 10px;
  margin: 10px auto;
}

#startBtns {
  display: flex;
  justify-content: space-evenly;
}

#counters, #resultMsgBox {
  width: 75%;
}

.startBtn {
  /* Placement attributes */
  width: 90px;
  margin: 5px;
  border-color: black;
  border-radius: 4px;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

#flagStatement {
  background-color: rgba(64, 64, 64, 1);
  border-top: solid 4px rgba(0, 0, 0, 1);
  border-left: solid 4px rgba(0, 0, 0, 1);
  border-right: solid 4px rgba(40, 40, 40, 1);
  border-bottom: solid 4px rgba(40, 40, 40, 1);
  border-radius: 5px;
  padding: 10px;
  color: rgba(195, 176, 145, 1);
}

/* ============================================== */
/* Formatting for the body */
/* ============================================== */

#gridBody {
  /* Placement attributes */
  display: flex;
  flex-direction: column;
  /* will need to change the template dynamically, with js? */
  /* Can also do flex of flex (div rows hold array of spans. */
  border-top: solid 10px rgba(40, 40, 40, 1);
  border-left: solid 10px rgba(40, 40, 40, 1);
  border-right: solid 10px rgba(0, 0, 0, 1);
  border-bottom: solid 10px rgba(0, 0, 0, 1);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .6);
  margin: 20px;
}

#spaceHolder {
  width: 150px;
  /* height: 40px; */
}

.gameRows {
  /* Placement attributes */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /*For testing*/
  color: go
}

.gameCell {
  /* background-color: rgba(152, 168, 184, 1); */
  margin: 0px;
  width: 25px;
  height: 25px;
  border: dotted 1px rgba(195, 176, 145, 1);
  text-align: center;
  font-size: 10px;
}

.gameBtn {
  /* display: contents; */
  width: 25px;
  height: 25px;
  background-color: rgba(195, 176, 145, 1);
  border-top: solid 3px rgba(215, 196, 165, 1);
  border-left: solid 3px rgba(215, 196, 165, 1);
  border-right: solid 3px rgba(175, 156, 125, 1);
  border-bottom: solid 3px rgba(175, 156, 125, 1);
}

.gameBtn:active {
  background-color: rgba(195, 176, 145, 1);
  border-top: solid 3px rgba(175, 156, 125, 1);
  border-left: solid 3px rgba(175, 156, 125, 1);
  border-right: solid 3px rgba(215, 196, 165, 1);
  border-bottom: solid 3px rgba(215, 196, 165, 1);
}

.cellValue {
  /* Placement attributes */
  display: none;
}

.bomb {
  background-image: url(https://game-icons.net/icons/ffffff/000000/1x1/lorc/mushroom-cloud.svg);
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-position: center;
  
}

.flagged {
  /* background-color: palegoldenrod; */
  background-image: url(https://game-icons.net/icons/ffffff/000000/1x1/lorc/flying-flag.svg);
  background-clip: padding-box;
  background-repeat: no-repeat;
}


/* ============================================== */
/* Formatting the descriptions section. */
/* ============================================== */

ul {
  list-style: disc;
  padding-left: 0.25in;
}

li {
  margin: 5px;
}

#descriptions {
  width: 85vw;
  max-width: 800px;
  text-align: justify;
  padding: 10px;
  background-color: rgba(184, 168, 152, 0.7);
  border: solid 5px rgba(22, 22, 22, 0.7);
  border-radius: 5px;
}

.title {
  display: flex;
  justify-content: space-between;
}

#descrToggle {
  width: 20px;
  background-color: transparent;
  border: solid 2px rgba(22, 22, 22, 0.7);
  border-radius: 5px;
  align-self: flex-start;
}
#descrToggle:active, #descrToggle:hover {
  background-color: rgba(22, 22, 22, 0.7);
}

.unl {
  text-decoration: underline;
  /* color:rgba(64, 130, 109, 1); */
}

.hidden {
  display: none;
}

#footnotes {
  width: 90vw;
  max-width: 800px;
  padding: 10px;
  /* text-align: left; */
  /* background-color: rgba(184, 168, 152, .7);
  border: solid 5px rgba(54, 38, 22, .7);
  border-radius: 5px; */
}

/* ============================================== */
/* Media Queries */
/* ============================================== */

@media screen and (max-width: 400px) {
  #interface {
    width: 80vw;
  }
  #counters, #resultMsgBox {
    width: 95%;
  }
  #startBtns {
    display: flex;
    flex-direction: column;
  }
  #hard {
    display: none;
  }
  #descriptions {
    font-size: smaller;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }  
}